# For local development you can connect directly a Daily room
NEXT_PUBLIC_DAILY_ROOM_URL=https://your-daily-room.daily.co/your-room

# When deployed to Pipecat Cloud, provide the agent's start URL and a public API key
PCC_START_URL=https://api.pipecat.daily.co/v1/public/<agent-name>/start
PCC_API_KEY=pk_
